.character-details {
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 300px;
  margin: 0 auto;
}

.character-details img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.character-details h2 {
  font-size: 1.75rem;
  margin: 0.5rem 0;
}

.character-details p {
  font-size: 1rem;
  margin: 0.25rem 0;
}
